.form {
    position: relative;
    padding: 1rem;
    border: .3rem solid #ececec;
    border-radius: 8px;
    margin-right: 0;
    margin-left: 0;
    
}

.next-button {
    padding-top: 1rem;
    float: right;
}

.prev-button {
    padding-top: 1rem;
    float: left;
}

.submit-button {
    margin-top: 1rem;
}

.menu2 {
    white-space: nowrap;
}

.version {

    float: right;
}

.results-qreen {
    background-color: #E2EFE5;
}

.results-red {
    background-color: #f0bbbb;
}

.email {
    padding-top: 3rem;
    float: right;
}

